@font-face {
    font-family: Vazir;
    src: url("../../fonts/Vazir/Vazir-Regular-FD.eot");
    src: url("../../fonts/Vazir/Vazir-Regular-FD?#iefix") format("embedded-opentype"),
      url("../../fonts/Vazir/Vazir-Regular-FD.woff2") format("woff2"),
      url("../../fonts/Vazir/Vazir-Regular-FD.woff") format("woff"),
      url("../../fonts/Vazir/Vazir-Regular-FD.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: Vazir;
    src: url("../../fonts/Vazir/Vazir-Bold-FD.eot");
    src: url("../../fonts/Vazir/Vazir-Bold-FD.eot?#iefix")
        format("embedded-opentype"),
      url("../../fonts/Vazir/Vazir-Bold-FD.woff2") format("woff2"),
      url("../../fonts/Vazir/Vazir-Bold-FD.woff") format("woff"),
      url("../../fonts/Vazir/Vazir-Bold-FD.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  body {
    font-family: "Vazir", Arial, Helvetica, sans-serif;
  }